---
import BlogPost from '../../layouts/BlogPost.astro';
import { getAllBlogSlugs, getBlogPostBySlug } from '../../lib/sanity-utils';
// import type { BlogPost as SanityBlogPost } from '../../types/sanity';

export async function getStaticPaths() {
	const slugs = await getAllBlogSlugs();
	return slugs.map((slug) => ({
		params: { slug },
	}));
}

type Props = {
	slug: string;
};

const { slug } = Astro.params;
const post = await getBlogPostBySlug(slug!);

if (!post) {
	return Astro.redirect('/404');
}
---

<BlogPost 
	title={post.title}
	description={post.description}
	pubDate={post.pubDate}
	updatedDate={post.updatedDate}
	heroImage={post.heroImage}
>
	<!-- TODO: Render Portable Text content -->
	<div>
		<p>Content from Sanity will be rendered here once Portable Text renderer is added.</p>
		<pre>{JSON.stringify(post.content, null, 2)}</pre>
	</div>
</BlogPost>
